/* line 1, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: 'Roboto', verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

/* line 14, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  font-size: 13px;
  margin: 1em 0;
}

/* line 20, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
code {
  background: #def;
  padding: 2px;
}

/* line 25, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 30, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 34, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 39, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 44, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 48, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 54, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 61, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 71, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 77, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 81, /home/hungk/Desktop/til_server/app/assets/stylesheets/scaffolds.scss */
.scaffold textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 5px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 24, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 29, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
body {
  font-size: 14px;
  background-color: aliceblue;
}

/* line 34, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
.scaffold {
  padding: 33px;
}

/* line 38, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
h1.title {
  padding: 33px 0;
}
/* line 41, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
h1.title a {
  text-decoration: none;
  color: #333;
}
/* line 46, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
h1.title a:hover {
  background-color: initial;
}

/* line 51, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
.container {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

/* line 57, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
.item {
  padding: 16px 33px;
  background: white;
  margin-bottom: 2em;
}
/* line 63, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
.item pre code {
  padding: 1.5em;
}
/* line 68, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
.item .footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5em;
}
/* line 74, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
.item .footer .created-at {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.33);
}

/* line 81, /home/hungk/Desktop/til_server/app/assets/stylesheets/application.scss */
.item .title {
  padding: 20px 0 40px 0;
}
